{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}
{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Price</th>
          <th scope="col">Shares</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>
      <tbody>
        {% for element in data %}
          <tr>
            <td>{{element["stock"]}}</td>
            <td>{{element["price"]|usd}}</td>
            <td>{{element["quantity"]}}</td>
            <td>{{element["time"]}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
